* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 5px;
}


.img-container {
  margin-bottom: 5px;
  margin-top: 10px;
  text-align: center;
}

img {
  width: 100px;
  min-height: 80%;
  object-fit: cover;
}

.title {
  font-size: 20px;
  text-align: center;
  padding-bottom: 10px;
  margin-bottom: 5px;
}